.progress0-10{
	background-color: #3d6cb0;
	width:5%;
	height: 100%;
}

.progress10-20{
	background-color: #3d6cb0;
	width:15%;
    height: 100%;
}

.progress20-30{
	background-color: #3d6cb0;
	width:25%;
    height: 100%;
}

.progress30-40{
	background-color: #3d6cb0;
	width:35%;
    height: 100%;
}

.progress40-50{
	background-color: #3d6cb0;
	width:45%;
    height: 100%;
}

.progress50-60{
	background-color: #3d6cb0;
	width:55%;
    height: 100%;
}

.progress60-70{
	background-color: #3d6cb0;
	width:65%;
    height: 100%;
}

.progress70-80{
	background-color: #3d6cb0;
	width:75%;
    height: 100%;
}

.progress80-90{
	background-color: #3d6cb0;
	width:85%;
    height: 100%;
}

.progress90-100{
	background-color: #3d6cb0;
	width:95%;
    height: 100%;
}
